*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: helvetica;
}


.container{
    margin: 0 2px;
}

#nav{
    display: flex;
    width: 100%;
    justify-content: space-between;
    align-items: center;
    border-bottom: 2px solid orange;
    padding: 2vh 2vw;
    background: linear-gradient(grey, black);
}

#navbar{
    display: flex;
    list-style: none;
    font-size: 1.875em;
}
#navbar li{
    margin: 0 40px;
    color: white;
}

#navbar li:hover{
    color: orange;
    cursor: pointer;
    transition: 0.5s;
}

#welcome-section{
    padding: 10vh 0;
    display: flex;
    justify-content: space-evenly;
    color: white;
    background: linear-gradient(black, grey);
    padding-bottom: 180px;
}

#profile-img{
    height: 60vh;
    border-radius: 50px;
    border: 2px solid orange;
}

#welcome-title{
    font-size: 5em;
    margin-bottom: 50px;
}

#welcome-text{
    display: flex;
    flex-direction: column;
}

#welcome-intro{
    width: 60vw;
    margin: 5vh 0;
    font-size: 1.3em;
}

#welcome-intro p{
    margin: 5vh 0;
}
#about-section{
    color: white;
    padding-top: 10px;
    background: linear-gradient(grey, black);
}

#about-section-boxes{
    display: flex;
    justify-content: space-between;
    padding: 0 20px;   
}

.about-section-box{
    font-size: 25px;
    width: 30%;
    border: 1px solid orange;
}

.about-section-links{
    list-style: none;
    margin: 15px;
}

.about-section-title{
    list-style: none;
    text-align: center;
    font-weight: bold;
    font-size: 30px;
    margin-bottom: 5vh;
    padding: 2vh 0;
    background-color: orange;
}

#about-me-text{
    display: flex;
    justify-content: center;
    text-align: center;
    padding: 80px;
    font-size: 25px;
}

#tech-stack-section{
    color: white;
    text-align: center;
    background: linear-gradient(black, grey);
}
#tech-stack-section h1{
    font-size: 3em;
}
#tech-stack-logos{
    display: flex;
    justify-content: space-between;
    font-size: 0.8em;
    padding: 100px 10px;
    color: silver;
}

.tech-logo img{
    height: 150px;
}

#react-logo, #node-logo, #mongoDB-logo{
    background-color: orange;
}

#experience-section{
    color: white;
    background: linear-gradient(grey, black);
    text-align: center;
}
#experience-section h1{
    font-size: 3em;
    padding: 5vh 0;
}
#experience-text{
    display: flex;
    justify-content: space-between;
    text-align: left;
    font-size: 1.3em;
    padding: 5vh 5vw;
}

#experience-text div{
    width: 50vw;
}

#experience-text p{
    margin: 3vh 0;
}

#experience-text ul{
    list-style: none;
}

#experience-text li{
    margin: 1vh 0;
}

#experience-text a{
    color: white;
    font-weight: bold;
}

#experience-text ul li::before {
    content: "\2022"; 
    color: orange; 
    font-weight: bold; 
    display: inline-block; 
    width: 1em;
  }

#projects-section{
    color: white;
    text-align: center;
    background: linear-gradient(black, grey);
}

#projects-section h1{
    font-size: 3em;
}


.project-title{
    font-size: 1.5em;
    margin-bottom: 5vh;
}

.project-links{
    display: flex;
    justify-content: center;
}

.project-links p{
    font-size: 1.3em;
    margin: 20px 40px;
}

.project-links a{
    text-decoration: none;
    color: white;

}

.project-links p:hover, .project-links a:hover{
    color: orange;
    cursor: pointer;
}

#projects-slider{
    display: flex;
    margin-left: 19.3vw;
    width: 60vw;
    overflow: hidden;
    scroll-behavior: smooth;
}

.thumbnail{
    width: 60vw;
    height: 70vh;
}

#slider-arrows{
    display: flex;
    justify-content: space-between;
    margin: 0 5vw;
    font-size: 2em;
    position: relative;
    top: 45vh;
}

#slider-arrows i{
    padding: 0.2em 0.3em;
    border-radius: 100%;
    background-color: orange;
}

#slider-arrows i:hover{
    cursor: pointer;
    animation-name: arrows-animation;
    animation-fill-mode: forwards;
    animation-iteration-count: infinite;
    animation-duration: 1s;
}

.project-text{
    display: flex;
    justify-content: space-between;
    padding: 7vh 2vw;
}

.desc-box{
    width: 30%;
    border: 2px solid orange;
}

.desc-box h1{
    background-color: orange;
}

.desc-box p{
    padding: 10px;
    font-size: 1.2em;
}

#snake-game-info, #weather-app-info, #footasylum-info, #dice-game-info{
    display: none;
}

#contact-section{
    color: white;
    text-align: center;
    background: linear-gradient(grey, black);
}

#contact-section h1{
    font-size: 2em;
    padding: 5vh 0;
}

#contact-section p{
    margin: 2vh 0;
}

form{
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
}

input{
    width: 20vw;
    padding: 5px;
    margin: 1vh 0;
    border: 1px solid orange;
    border-radius: 5px;
}

#message-input{
    padding-bottom: 10vh;
    border-radius: 5px;
}

form button{
    margin-top: 5px;
    padding: 5px;
    font-size: 1.3em;
    border: 1px solid transparent;
    border-radius: 5px;
    background-color: orange;
    color: white;
}

form button:hover{
    border: 1px solid white;
    cursor: pointer;
}

#contact-links i{
    margin: 10vh 2vw;
    font-size: 3em;
    color: orange;
}

#contact-links i:hover{
    cursor: pointer;
}

@keyframes arrows-animation{
    0%{
        transform: translateX(0px);
    }
    50%{
        transform: translateX(-5px);
    }
    100%{
        transform: translateX(0px);
    }
}

@media screen and (max-width: 768px) {
    body{
        width: 768px;
    }

    #navbar, #nav{
        font-size: 1.1em;
        justify-content: center;
    }

    #navbar li{
        margin: 0 25px;
    }
    #welcome-section, #welcome-text-section{
        display: flex;
        flex-direction: column;
        align-items: center;
        text-align: center;
        padding-bottom: 10px;
    }
    #welcome-section img{
        height: 40vh;
        width: 50vw;
    }
    .about-section-box, #about-me-text{
        font-size: 1em;
    }
    .about-section-title{
        font-size: 1.2em;
        margin: 0;
    }
    .tech-logo img{
        height: 80px;       
    }

    #experience-text{
        font-size: 1em;
        flex-direction: column-reverse;
        align-items: center;
    }

    #experience-text div{
        width: 80vw;
    }


    #experience-text img{
        height: 40vh;
        width: 40vw;
    }

    #slider-arrows{
        top: 25vh;
    }

    .project-thumbnail img{
        height: 30vh;
    }

    .project-links{
        font-size: 0.7em;
    }

    .project-text{
        flex-direction: column;
        align-items: center;
    }

    .desc-box{
        font-size: 0.8em;
        margin-bottom: 2vh;
        width: 90vw;
    }
    #email-section{
        padding: 0 10vw;
    }
}

@media screen and (max-width: 425px) {
    #experience-text div{
        width: 160vw;
    }
    #slider-arrows{
        top: 40vh;
    } 
    #projects-slider{
        margin-left: 40vw;
        width: 100vw;
    }
    .project-thumbnail img{
        height: 50vh;
        width: 100vw;
    }   
    .project-links p{
        margin: 20px 35px;
    }
    .desc-box{
        font-size: 0.8em;
        margin-bottom: 2vh;
        width: 160vw;
    }
    form input{
        width: 80vw;
    }
}